*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    /* position: relative; */
    /* background-color: #f2f3f5; */
    background-image: url("../public/bg-calculator.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y:hidden        ;
}

.box-sizing{
    box-sizing: border-box;
}
.inputBtn{
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 3px solid black;
}